/*Start navbar styles*/
#imghead{
    display:flex;
    padding-bottom: 25px;
    max-width: 100%;
    height:auto;
    
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background-color: #D7DECA;
    margin-bottom: 100px;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .log,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #42523C;
    text-decoration: none;
    
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #c78726;
  }
  
  .log {
    padding: 9px 25px;
    background-color: #8AAB94;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  
  .log:hover {
    background-color: #568161;
  }
  
  
  
  /* Mobile Nav */
  
  .menu{
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  
  .mobile{
    display: none;
  }
  
  .mobile div{
    width:25px;
    height: 3px;
    background-color: white;
    margin:5px;
    transition: all 0.3s ease;
  
  }

  /* Styling for sign up form*/ 

  * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

form {
    width: 50%;
    display: inline-block;
    margin:auto;
    border:2px solid gray;
}

.content {
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding:15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

input[name="submit"] {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

