<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Calorie</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<!-- Code for topnav-->
<header>
    <a class="logo" href="/"><img src="/static/imgs/logo.png" alt="logo" style="height:60px;"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="/">Home</a></li>
            <li><a href="calc.html">My Calories</a></li>
            <li><a href="tracker.html">Tracker</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <a class="log" href="{{url_for('logout')}}">Logout</a>
    <p class="menu">Menu</p>
  </header>
  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Services</a>
        <a href="#">Projects</a>
        <a href="#">About</a>
    </div>
  </div>
  <script type="text/javascript" src="mobile.js"></script>
<!-- End topnav code-->

<form method="post" action="{{ url_for('calc_html')}}" id="calculator_form">
<div class="inputs">
    <label for="Weight">Weight:</label>
    <input type="number" name="Weight" id="Weight" value={{Weight}}>lbs
    <br/>
    <label for="Height">Height:</label>
    <input type="number" name="HeightFeet" id="HeightFeet" value={{HeightFeet}}>ft
    <input type="number" name="HeightInch" id="HeightInch" value={{HeightInch}}>in
    <br/>
    <label for="Age">Age:</label>
    <input type="number" name="Age" id="Age" value={{Age}}>
    <br/>
    <label for="Gender">Gender:</label>
    <select id="Gender" name="Gender">
        <option value="" {% if Gender == "" %} selected {% endif %}></option>
        <option value="Woman" {% if Gender == "Woman" %} selected {% endif %}>Woman</option>
        <option value="Man" {% if Gender == "Man" %} selected {% endif %}>Man</option>
    </select>
    
    <br/>
    <label class="checkbox">Vegetarian
        <input type="checkbox" {{"checked = 'checked'" if Vegetarian else ""}} name="Vegetarian" id="Vegetarian">
    </label>
    <label class="checkbox">Vegan
        <input type="checkbox" {{"checked = 'checked'" if Vegan else ""}} name="Vegan" id="Vegan">
    </label>
    <label class="checkbox">No dairy
        <input type="checkbox" {{"checked = 'checked'" if NoDairy else ""}} name="NoDairy" id="NoDairy">
    </label>
    <br/>

    <input type="submit" value="Calculate">
    <input type="reset" value="Reset" style="color: red;"/>
</div>
{{result}}
</form>
</html>