<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign up</title>
<link href="/static/signup.css" rel="stylesheet" type="text/css" />
</head>
<body>

</style>

<Body>

    <!-- Code for topnav-->
    <header>
      <a class="logo" href="/"><img src="/static/imgs/logo.png" alt="logo" style="height:60px;"></a>
      <nav>
          <ul class="nav__links">
              <li><a href="/">Home</a></li>
              <li><a href="MyCalories.html">My Calories</a></li>
              <li><a href="About.html">About</a></li>
          </ul>
      </nav>
      <button onclick="document.getElementById('id01').style.display='block'" class="log" style="width:auto;">Login</button>
      <p class="menu">Menu</p>
    </header>
    <div class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
          <a href="#">Services</a>
          <a href="#">Projects</a>
          <a href="#">About</a>
          
      </div>
    </div>
    <script type="text/javascript" src="mobile.js"></script>



<form action="action_page.php"></form>
<div class="container">

    <hr>
    <h2>Sign up</h2>
    <p>Please fill in this form to create an account.</p>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Sign Up</button>
</div>

<div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
</div>

</form>

</div>
        </div>
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js%22%3E</script>