<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My Account</title>
    <link href="/static/tracker.css" rel="stylesheet" type="text/css" />
</head>

<!-- Code for topnav-->
<header>
    <a class="logo" href="/"><img src="/static/imgs/logo.png" alt="logo" style="height:60px;"></a>
    <nav>
        <ul class="nav__links">
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="calc.html">Calculator</a></li>
            <li><a href="user.html">My Account</a></li>
            <li><a href="tracker.html">Tracker</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <a class="log" href="{{url_for('logout')}}">Logout</a>
    <p class="menu">Menu</p>
  </header>
  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Home</a>
        <a href="#">My Calories</a>
        <a href="#">About</a>
    </div>
  </div>
  <script type="text/javascript" src="mobile.js"></script>

<body>
<table>
    <tr> <!-- username -->
        <td>
            Username
        </td>
        <td>
            {{username}}
        </td>
    </tr>

    <tr> <!-- remaining calorie intake --> 
        <td>
        Remaining Calories for the Week
        </td>
        <td>
            {{remaining}}
        </td>
    </tr>

    <tr> <!-- weekly calorie intake -->
        <td>
            Weekly Calorie Intake
        </td>
        <td>
            {{weekly}}
        </td>
    </tr>

    <tr> <!-- vegetarian -->
        <td>
            Vegetarian
        </td>
        <td>
            {{vegetarian}}
        </td>
    </tr>

    <tr> <!-- vegen -->
        <td>
            Vegan
        </td>
        <td>
            {{vegan}}
        </td>
    </tr>

    <tr> <!-- no dairy -->
        <td>
            Non-dairy
        </td>
        <td>
            {{no_dairy}}
        </td>
    </tr>
</table>
</body>